#body {
  text-align: center;
  background-color: #ffffff;
}
#name {
  margin: 30px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}
#phoneNum {
  font-size: 20px;
  font-weight: bold;
}
#callBtn {
  margin: 50px;
  padding: 20px;
  background-color: #21f01a;
  color: #ffffff;
  font: bolder;
  font-size: 20px;
  border-radius: 19px;
  border-color: #21f01a;
}
